
@{
    ViewBag.Title = "Show Diagram";
}

<!DOCTYPE html>

<head>
    <title>EA Webservice </title>
    <link rel="stylesheet" type="text/css" href="~/Content/Styles_EA2.css" />
</head>

<body>

    <div id="container">
        <div id="header">
            <h2> Contents of @ViewBag.TOI_Name  ( @ViewBag.TOI_Type )  ;</h2>
            <h3> MVC View: EA_ShowDiagram </h3>
        </div>
        <div id="content">

            @ViewBag.WhatHasBeenSelected  <br />

          <b>Diagram Name</b> <br />
           @ViewBag.DiagramName;

            <br />


            @{
                string Big = ViewData["CurrentURL"].ToString() + "/BigPreview";
                string Sml = ViewData["CurrentURL"].ToString() + "/SmallPreview";
            }

            
            <a href= @Big> OSLC_Big_Preview  </a>
            <br />

            <a href=@Sml> OSLC_Small_Preview  </a>
            <br />

 
      
            <br />
            <b>Elements</b>


            @*Show all the elements*@
            @if (ViewBag.ListOfElements != null)
            {     
                for (int i = 0; i < ViewBag.ListOfElements.Count; i++)
                {
                    List<string> LocalListElements = new List<string>();
                    LocalListElements = ViewBag.ListOfElements;
                    string AllElementData = LocalListElements.ElementAt(i);

                    List<string> LocalListOfElementsName = new List<string>();
                    LocalListOfElementsName = ViewBag.ListOfElementsNames;

                    string ElementNameOnly = LocalListOfElementsName.ElementAt(i);

                  //  string ElementURL = ViewData["SP_URL"].ToString();

                    <br />
                    <a href="@AllElementData">
                        @ElementNameOnly
                    </a>
                }
            }


            <br />
            <br />

            <b>Links </b>
 

            @*Show all of the links*@
            @if (ViewBag.ListOfLinkURLs != null)
            {

                for (int i = 0; i < ViewBag.ListOfLinkURLs.Count; i++)
                {
                    List<string> LocalListLinks = new List<string>();
                    LocalListLinks = ViewBag.ListOfLinkURLs;
                    string AllLinkData = LocalListLinks.ElementAt(i);

                    List<string> LocalListOfLinkNames = new List<string>();
                    LocalListOfLinkNames = ViewBag.ListOfLinkNames;

                    string LinkNameOnly = LocalListOfLinkNames.ElementAt(i);

                    <br />
                  //  string LinkURL = ViewData["SP_URL"].ToString();


                    <a href="@AllLinkData">
                        @LinkNameOnly
                    </a>
                }



            }

        </div>

        <br />


        <div id="footer">
            Webservice for Enterprise Architect
        </div>
    </div>
</body>
