
@{
    ViewBag.Title = "Show Element";
}

<!DOCTYPE html>

<head>
    <title>EA Webservice </title>
    <link rel="stylesheet" type="text/css" href="~/Content/Styles_EA2.css" />
</head>

<body>

    <div id="container">
        <div id="header">
            <h2> Contents of @ViewBag.TOI_Name  ( @ViewBag.TOI_Type )  ;</h2>
        </div>
        <div id="content">

            @ViewBag.WhatHasBeenSelected  <br />

          <b>Element Name</b> <br />   @ViewBag.ElementName; <br /><br />
          <b>Notes </b> <br /> @ViewBag.notes;<br /><br />
          <b>Author </b> <br /> @ViewBag.Author<br /><br />
            <br />
            <br />
            <b>Tagged Values</b>



            <br />

            @{ 
                RestfulEA.Models.EA_TaggedValueStore myTVS = new RestfulEA.Models.EA_TaggedValueStore();
                myTVS = ViewBag.TG_Store;
            }



            @if (myTVS.ParentElementName != "")
            //There is no tagged values object in EA which represents the properties  
            {
                //Create a tagged values suffix
                               
                    <a href="@ViewBag.URL_Prefix/@ViewBag.TaggedSuffix">
                        Show Tagged Values
                    </a>

                    <br /><br />

            
                RestfulEA.Models.EA_TaggedValueStore TG_Store = new RestfulEA.Models.EA_TaggedValueStore();
                TG_Store = ViewBag.TG_Store;

                


                //   for (int i = 0; i < ViewBag.ListOfTagValueNames.Count; i++)
                //   {
                //        List<string> LocalListTaggedValueNames = new List<string>();
                //        LocalListTaggedValueNames = ViewBag.ListOfTagValueNames;

                //       List<string> LocalListTaggedValueValues = new List<string>();
                //     LocalListTaggedValueValues = ViewBag.ListOfTagValueValues;


                //        @LocalListTaggedValueNames.ElementAt(i);
                //       <text>  = </text>
                //       @LocalListTaggedValueValues.ElementAt(i);
                //       <br />
                //    }


            }



      
            @if (ViewBag.ListOfDiagramsNames != null)
            {

                List<string> LocalListDiagramNames = new List<string>();
                LocalListDiagramNames = ViewBag.ListOfDiagramsNames;

                if (LocalListDiagramNames.Count > 0)
                {
                    <b> Diagrams contained in @ViewBag.TOI_Name </b>
                }


                List<string> LocalListDiagram = new List<string>();
                LocalListDiagram = ViewBag.ListOfDiagrams;

                for (int i = 0; i < LocalListDiagramNames.Count; i++)
                {

                    string DiagramData = LocalListDiagram.ElementAt(i);
                    string Diagramname = LocalListDiagramNames.ElementAt(i);

                    <br />
                    <a href="@ViewBag.URL_Prefix/@DiagramData">
                                                 @Diagramname
                                        </a>
                }


            }



        </div>

        <br />


        <div id="footer">
            Webservice for Enterprise Architect
        </div>
    </div>
</body>
